{% extends "layout.html.tera" %}
{% block content %}
<div class='quote-container'>
  <blockquote>{{quote}}</blockquote>
  <br /> <strong>{{author}}</strong> ({{source_text}})
</div>
{% endblock content %}
