<html>
  <head>
    <title> Rocket Fortune </title>
    <style type='text/css'>
      body {
          background-color: black;
          color: green;
          font-family: monospace;
      }
      a:link {
          color: green;
          text-decoration: none;
      }
      a:visited {
          color: green;
          text-decoration: none;
      }
      a:active {
          color: green;
          text-decoration: underline;
      }
      a:hover {
          color: green;
          text-decoration: underline;
      }
      h1 h2 h3 {
          text-align: right;
      }
      blockquote {
          padding: 4px;
          border-radius: 2px;
          background-color: #555;
          color: white;
      }
      .quote-container {
          padding: 10px;
          margin: 10px;
          border-radius: 2px;
          background-color: #333;
      }
      .main-container {
          margin-left: 25%;
          margin-right: 25%;
          margin-top: 20px;
          padding: 10px;
          border-radius: 2px;
          min-width: 200px;
          background-color: #111;
      }
      .message {
        background-color: #777;
        color: black;
        margin: 2px;
        padding: 2px;
        border-radius: 1px;
      }
    </style>
  </head>
  <body>
    <div class='main-container'>
      <h1>Rocket Fortune</h1>
      <h3>A simple fortune application, built with Rocket.</h3>
      {% block content %} {% endblock content %}
      <br />
      <div class='bottomnav'>
        <a href='http://rocket.rs'>Rocket</a> |
        <a href='http://silverwingedseraph.net'>My Blog</a> |
        <a href='http://twitter.com/leotindall'>My Twitter</a> |
        <a href='/json'> JSON version </a>
      </div>
    </div>
  </body>
</html>
