<html>
  <head>
    <title> Rocket Fortune </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type='text/css'>
      body {
          background-color: #EEE;
          color: #121;
          font-family: monospace;
      }
      a:link {
          color: green;
          text-decoration: none;
      }
      a:visited {
          color: #121;
          text-decoration: none;
      }
      a:active {
          color: #121;
          text-decoration: underline;
      }
      a:hover {
          color: #121;
          text-decoration: underline;
      }
      h1 h2 h3 {
          text-align: right;
      }
      blockquote {
          padding: 4px;
          border-radius: 2px;
      }
      .quote-container {
          padding: 10px;
          margin: 10px;
          border-radius: 2px;
      }
      .main-container {
          margin-left: auto;
          margin-right: auto;
          margin-top: 20pt;
          padding: 10px;
          border-radius: 2px;
          width: 500px;
          max-width: 90%;
      }
      .message {
        margin: 2px;
        padding: 2px;
        border-radius: 1px;
      }
    </style>
  </head>
  <body>
    <div class='main-container'>
      <a href="/"><h1>Rocket Fortune</h1></a>
      {% block content %} {% endblock content %}
      <br />
      <div class='bottomnav'>
        <a href='https://rocket.rs'>Rocket</a> |
        <a href='https://nora.codes'>My Blog</a> |
        <a href='/api'>JSON API</a> |
        <a href='/all'>All Quotes</a> |
        <a href='/add'>Submit</a>
      </div>
    </div>
  </body>
</html>
