{% extends "layout" %}
{% block content %}
{% for quote in quotes %}
<p class='quote-container'>
  <blockquote>{{quote.quote}}</blockquote>
  <strong>{{quote.author}}</strong> ({{quote.source_text}})
</p>
{% endfor %}
{% endblock content %}
